/.svn/
/MatcherTest.class
/axis-ant.jar
/axis.jar
/com/
/commons-discovery-0.2.jar
/commons-logging-1.0.4.jar
/jawr.properties
/jaxrpc.jar
/junit-4.4.jar
/log4j-1.2.14.jar
/saaj.jar
/sap/
/wsdl4j-1.5.1.jar
